<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 1</title>
</head>
<body>

	@Html.ActionLink("Learn 1", "Learn01")
	<br />
	@Html.ActionLink("Learn 2", "Learn02")
	<br />
	@Html.ActionLink("Learn 3", "Learn03")
	<br />
	@Html.ActionLink("Learn 4", "Learn04")
	<br />
	@Html.ActionLink("Learn 5", "Learn05")
	<br />
	@Html.ActionLink("Learn 6", "Learn06")
	<br />
	@Html.ActionLink("Learn 7", "Learn07")
	<br />
	@Html.ActionLink("Learn 8", "Learn08")
	<br />
	@Html.ActionLink("Learn 9", "Learn09")
	<br />
	@Html.ActionLink("Learn 10", "Learn10")
	<br />
</body>
</html>
